@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

h1,
.h1 {
  font-family: $font-condensed;
  font-size: $h1-font-size;
  font-weight: $font-weight-bold;
  line-height: $line-height-lg;

  @include media-breakpoint-down(sm) {
    line-height: $line-height-md;
  }
}

h2,
.h2 {
  font-family: $font-primary;
  font-size: $h2-font-size;
  font-weight: $font-weight-base;
  line-height: $line-height-lg;
}

h3,
.h3 {
  font-family: $font-primary;
  font-size: $h3-font-size;
  font-weight: $font-weight-bold;
  line-height: $line-height-lg;

  @include media-breakpoint-down(sm) {
    line-height: $line-height-base;
  }
}

h4,
.h4 {
  font-family: $font-primary;
  font-size: $h4-font-size;
  font-weight: $font-weight-base;
  line-height: $line-height-md;
}

h5,
.h5 {
  font-family: $font-primary;
  font-size: $h5-font-size;
  font-weight: $font-weight-bold;
  line-height: $line-height-md;
}

p {
  font-family: $font-paragraph;
  font-size: $base-font-size;
  font-weight: $font-weight-light;
  line-height: $line-height-base;

  a {
    font-weight: $font-weight-bold;
  }
}

ol li {
  font-family: $font-paragraph;
  font-size: $base-font-size;
  font-weight: $font-weight-light;
  line-height: $line-height-base;
}

ul li {
  font-family: $font-paragraph;
  font-size: $base-font-size;
  font-weight: $font-weight-light;
  line-height: $line-height-base;
}

button {
  font-family: $font-buttons;
}

a {
  text-decoration: none !important;
}

label,
input,
textarea {
  font-family: $font-labels;
}
