@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

h1,
.h1 {
  font-family: $font-primary;
  font-size: 3rem;
  font-weight: 800;
  line-height: 4rem;
}

h2,
.h2 {
  font-family: $font-primary;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
}

h3,
.h3 {
  font-family: $font-primary;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 3rem;
}

h4,
.h4 {
  font-family: $font-primary;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
}

h5,
.h5 {
  font-family: $font-primary;
  font-size: 1rem;
  font-weight: 800;
  line-height: 2rem;
}

p {
  font-family: $font-paragraph;
  font-size: .875rem;
  font-weight: 200;
  line-height: 1.25rem;
}

button {
  font-family: $font-buttons;
}

label,
input,
textarea {
  font-family: $font-primary;
}
