@mixin transition ($time, $effect) {
  transition: all $time $effect;
}

@mixin transition-opacity ($time) {
  -webkit-transition: opacity $time;
  -moz-transition: opacity $time;
  -ms-transition: opacity $time;
  -o-transition: opacity $time;
  transition: opacity $time;
  display: block;
  overflow: hidden;
  opacity: 0 !important;
  z-index: 0;
}

@mixin transition-opacity-after {
  opacity: 1 !important;
  z-index: 900;
}

@mixin transition-slide ($time, $moveX, $moveY) {
  -webkit-transition: all $time;
  -moz-transition: all $time;
  -ms-transition: all $time;
  -o-transition: all $time;
  transition: all $time;
  transform: translateX($moveX) translateY($moveY);
  display: block;
  overflow: hidden;
  opacity: 0;
  z-index: 0;
}

@mixin transition-slide-after ($moveX, $moveY) {
  transform: translateX($moveX) translateY($moveY);
  opacity: 1;
  z-index: 900;
}

@mixin border-radius ($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin shadow ($opacity) {
  -webkit-box-shadow: 0 .5rem 1.75rem -.5rem rgba(0, 0, 0, $opacity);
  -moz-box-shadow: 0 .5rem 1.75rem -.5rem rgba(0, 0, 0, $opacity);
  box-shadow: 0 .25rem 1.5rem rgba(0, 0, 0, $opacity);
}

@mixin blur ($intensity) {
  -webkit-backdrop-filter: blur($intensity);
  backdrop-filter: blur($intensity);
}

@mixin scrollHeader ($time) {
  -ms-transition: all $time ease-out;
  -moz-transition: all $time ease-out;
  -webkit-transition: all $time ease-out;
  -o-transition: all $time ease-out;
  transition: all $time ease-out;
}
