$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1260px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
);

$spacer: .5rem !default;
$spacers: () !default;

// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: $spacer,
    2: ($spacer * 2),
    3: ($spacer * 3),
    4: ($spacer * 4),
    5: ($spacer * 5),
    6: ($spacer * 6)
  ),
  $spacers
);

$primary: #0a6ace !default;
$secondary: #6ec1e4 !default;
$dark: #244994 !default;
$light: rgba(10, 106, 206, .05) !default;
$lightWhite: rgba(255, 255, 255, .05) !default;
$typo: #1d1d1d !default;

$font-primary:  "Roboto", sans-serif; // 100, 300, 400, 500, 700, 900
$font-condensed: "Roboto Condensed", sans-serif; // 300, 400, 700
$font-paragraph:  "Roboto", sans-serif;
$font-buttons:  "Roboto", sans-serif;

@import 'mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap-vue/src/variables';
