$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1260px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
);

$spacer: .5rem !default;
$spacers: () !default;

// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: $spacer,
    2: ($spacer * 2),
    3: ($spacer * 3),
    4: ($spacer * 4),
    5: ($spacer * 5),
    6: ($spacer * 6)
  ),
  $spacers
);

$primary: #e91e63 !default;
$secondary: #152231 !default;
$light: #ffffff10 !default;
$typo: #1d1d1d !default;

$font-primary:  "Mukta", sans-serif;
$font-paragraph:  "Mukta", sans-serif;
$font-buttons:  "Mukta", sans-serif;

@import 'mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap-vue/src/variables';
