.cookieControl {
  --cookie-control-modalOverlay: #0f365f;

  @include border-radius (1rem);

  &__Modal {
    &Content {
      position: relative;
      width: 100%;
      padding: 3rem;
      max-width: 35rem;
      max-height: 80vh;
      text-align: left;
      overflow-y: hidden;
      background-color: rgba(255, 255, 255, .8) !important;
      backdrop-filter: blur(.3rem);
      box-shadow: 2px 2px 1rem .5rem rgba(0, 0, 0, .05);

      @include border-radius (1rem);
    }

    button {
      color: #fff !important;
      background-color: $primary !important;

      @include border-radius (.5rem);

      &:hover {
        color: #fff !important;
        background-color: $secondary !important;
      }
    }
  }

  &__Bar {
    border-radius: 1rem;
    box-shadow: 2px 2px 1rem .5rem rgba(0, 0, 0, .05);

    @include media-breakpoint-down(sm) {
      margin: 0 1rem 2rem;
    }

    &--bottom-right {
      @include border-radius (1rem);
    }

    button {
      color: #fff !important;
      background-color: $primary !important;

      @include border-radius (.5rem);
    }

    &Container {
      display: flex;
      padding: 1.25rem;
      align-items: flex-end;
      justify-content: space-between;
      backdrop-filter: blur(.5rem);

      @include border-radius (1rem);
    }
  }

  &__ControlButton {
    background: $primary !important;

    &:hover {
      background: $secondary !important;
    }

    svg {
      color: #fff !important;

      &:hover {
        color: #fff !important;
      }
    }
  }
}

::-webkit-scrollbar {
  display: none;
}
